body {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

#center {
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
    margin:auto;
    padding:20px;
}

#container {
    display: flex;
    width: 80%;
    padding:2rem;
    margin: auto;
}

#fileList {
    width:20%;
}

.saveBtn {
    background-color:#2196F3;
}

.applyBtn {
    background-color:#0bbd02;
}

.deleteBtn {
    background-color:#f32121;
}

.createBtn {
    background-color:#2196F3;
}


/* Highlighter styling */
#highlighter {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

/* Entry input fields */
.entry {
    display: flex;
    margin-bottom: 0.5rem;
}

.entry input[type="text"] {
    flex: 1;
    margin-right: 0.5rem;
    padding: 0.3rem;
}

/* Button styling */
button {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
}

.remove-btn {
    background-color: #f44336;
}

#addEntryBtn {
    background-color: #4CAF50;
    margin-top: 1rem;
}

#toggleColorsBtn {
    background-color: #4CAF50;
    margin-bottom: 1rem;
}

#saveColorsBtn {
    background-color: #2196F3;
    margin-top: 1rem;
}

/* Color options container */
#colorOptionsContainer {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 1rem;
    gap: 10px;
}

/* Each color entry */
.color-entry {
    display: flex;
    align-items: center;
    gap: 10px;
}

.key-label {
    font-weight: bold;
    width: 20rem;
}

/* Color picker styling */
.color-picker {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}





/* Format options container */
#formatter {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}


#formatOptionsContainer {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 1rem;
    gap: 10px;
}

#toggleFormatsBtn {
    background-color: #4CAF50;
    margin-bottom: 1rem;
}

#saveFormatsBtn {
    background-color: #2196F3;
    margin-top: 1rem;
}

/* Each format entry */
.format-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Input styling */
.format-input {
    width: 150px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#timeOverride {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}