<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNF Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleheader.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleanalysis.css') }}">
</head>

<body>
  {% include 'header.html' %}

  <button onclick="hideExplanation()" class="explanation" id="explanation-button">-</button>
  <p class="explanation" id="explanation">
    This page is designed for the evaluation of contracts given that the grammar is written with respect to the pre-defined syntax.
  </p>

  <div class="subheader">
    <a class="" href="#" onclick="loadContent('condition', this)">Condition Sim</a>
    <a class="" href="#" onclick="loadContent('event', this)">Event Sim</a>
  </div>

  <div id="content-container">
    <!-- Dynamic content will be injected here -->
  </div>

  <!-- <h1>Condition Simulation (WIP)</h1>

  <div class="clause-container">

    <div class="column">

      <h2 class="columntitle">Conditions</h2>
      
      <ul class="eval_block" id="conditions"></ul>

    </div>

    <div class="column">

      <h2 class="columntitle">States</h2>

      <ul class="eval_block" id="states"></ul>
      
    </div>

  </div> -->

  <!-- <h1>Event Simulation (WIP)</h1>

  <div class="clause-downward-container">

    <div class="column">

      <h2 class="columntitle">States</h2>

      <ul class="eval_block" id="states"></ul>
      
    </div>

    <div class="column">

      <h2 class="columntitle">Events</h2>
      
      <ul class="eval_block" id="events"></ul> -->

      <!-- quick idea, just make it a drop down menu, and then you write your date. If invalid, tells you, else pushes it as an event -->
      <!-- If you push two of the same event on different dates, it will ONLY consider the latest one? a deeper issue with event simulation. But lets solve the easy part first -->

    <!-- </div>

    <div class="column">

      <h2 class="columntitle">Event Builder</h2>
      
      <div class="eval_block" id="event-builder">
        <select id="condition-select"></select>
        <input type="text" placeholder="Enter the time here" id="condition-input"></input>
        <button id="condition-submit" function="submitEvent">Submit</button>
      </div>

    </div>

  </div> -->

  <script type="text/javascript" src="{{ url_for('static', filename='javascript/static_analysis.js') }}"></script>

  {% include 'footer.html' %}
</body>

</html>