<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNF Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styleheader.css') }}">
</head>

<body>
  {% include 'header.html' %}

  Event Simulation (WIP)

  <script type="text/javascript" src="{{ url_for('static', filename='javascript/static_analysis.js') }}"></script>


</body>

</html>