<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNF Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleheader.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleanalysis.css') }}">
</head>

<body>
  {% include 'header.html' %}

  <button onclick="hideExplanation()" class="explanation" id="explanation-button">-</button>
  <p class="explanation" id="explanation">
    This page is designed for the simulation of contracts provided that the grammar follows the GAS semantics. In particular, the set of features provided in this page focus on the relationship between statements and their associated conditions. <b>Green = True & Red = False</b>
    <br>
    <b>Condition Sim:</b> Conditions are simulated through boolean flags. Clicking the Conditions (LEFT) will revaluate the Statements (RIGHT). 
    <br>
    <b>Event Sim:</b> Conditions are simulated by dynamic events. In the Event Builder (BOTTOM), pick a condition and write the time on the right (according to the Grammar rules). This will then be processed as an event and Statements (TOP) will be evaluated with respect to time.
  </p>

  <div class="subheader">
    <a class="" href="#" onclick="loadContent('condition', this)">Condition Sim</a>
    <a class="" href="#" onclick="loadContent('event', this)">Event Sim</a>
  </div>

  <div id="content-container">
    <!-- Dynamic content will be injected here -->
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='javascript/static_analysis.js') }}"></script>

  {% include 'footer.html' %}
</body>

</html>