<div class="header">
    <a href="/" class="logo">Computable Contracts - IDE</a>
    <div class="header-right">
        <a class="{% if current_page == 'home' %}active{% endif %}" href="/">Editor</a>
        <a class="{% if current_page == 'tree' %}active{% endif %}" href="/tree">Visualisation</a>
        <a class="{% if current_page == 'dev' %}active{% endif %}" href="/dev">Development</a>
        <a class="{% if current_page == 'analysis' %}active{% endif %}" href="/analysis">Simulation</a>
    </div>
</div>