<div class="header">
    <a href="/" class="logo">Computable Contracts - IDE</a>
    <div class="header-right">
        <a class="{% if current_page == 'home' %}active{% endif %}" href="/">Home</a>
        <a class="{% if current_page == 'tree' %}active{% endif %}" href="/tree">Tree</a>
        <a class="{% if current_page == 'dev' %}active{% endif %}" href="/dev">Developer</a>
        <a class="{% if current_page == 'analysis' %}active{% endif %}" href="/analysis">Analysis</a>
    </div>
</div>