<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleoutput.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleheader.css') }}">
</head>

<body>
    {% include 'header.html' %}

    <button onclick="hideExplanation()" class="explanation" id="explanation-button">-</button>
    <p class="explanation" id="explanation">
        This page is designed for outputting contracts in a desired format by lawyers, a common usecase is when signing of contracts is involved.
    </p>

    <h1>PDF Output (WIP)</h1>

    <div id="container">
        <!-- File selection area -->
        <div id="fileList">
            <h2>Available Formats</h2>
            <ul id="files"></ul>
            <select id="filenameSelect">
                <option value="">Select a file...</option>
            </select>
        </div>
    </div>

    <div id="pdf-container" class="a4">  
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/output.js') }}"></script>
    
    {% include 'footer.html' %}
</body>

</html>