<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNF Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styleheader.css') }}">
</head>

<body>
  {% include 'header.html' %}

  <p class="explanation">
    This page is designed for the visualisation of contracts in various forms (Tree, File, ___ ...).
  </p>

  <div class="subheader">
    <a class="" href="#" onclick="loadContent('tree', this)">Tree Struc</a>
    <a class="" href="#" onclick="loadContent('file', this)">File Struc</a>
  </div>

  <div id="content-container">
    <!-- Dynamic content will be injected here -->
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='javascript/visualise.js') }}"></script>


</body>

</html>