<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNF Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleheader.css') }}">
</head>

<body>
  {% include 'header.html' %}

  <button onclick="hideExplanation()" class="explanation" id="explanation-button">-</button>
  <p class="explanation" id="explanation">
    This page is designed for the visualisation of contracts in various forms (Tree, File, ___ ...).
  </p>

  <div class="subheader">
    <a class="" href="#" onclick="loadContent('tree', this)">Tree Struc</a>
    <a class="" href="#" onclick="loadContent('file', this)">File Struc</a>
  </div>

  <div id="content-container" style="overflow-y: scroll; overflow-x: scroll; max-height: 30rem;">
    <!-- Dynamic content will be injected here -->
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='javascript/visualise.js') }}"></script>

  {% include 'footer.html' %}
</body>

</html>