.contract { color: #000000;   }
.start { color: #c37474; font-weight: bold; display: block; margin: 2rem; }
.user { color: #208497; font-weight: bold;  }
.negated { color: #85adff; font-weight: bold;  }
.discount { color: #384cad; font-weight: bold;  }
.conditional { color: #000000;   }
.condition1 { color: #000000;   }
.condition2 { color: #000000;   }
.condition3 { color: #000000;   }
.string { color: #000000;   }
.num { color: #000000;   }
